<!DOCTYPE html>
<html>
    <head>
        <title>Contact Application</title>
    </head>

    <body>
        <h1>Subscribe:</h1>
        
        <form id="contact" method="post">
            <input type="text" name="firstname" placeholder="firstname" required>
            <input type="text" name="lastname" placeholder="lastname" required>
            <input type="text" name="email" placeholder="email" required>
            <input type="text" name="password" placeholder="password" required>
    
            <input type="submit" value="Send">
        </form>
        <p>
        {% if data %}
            New contact added: {{ data }}
        {% endif %}
        {% if datas %}
            {% for data in datas %}
                Identity: {{ data.firstname }} {{ data.lastname }} | Contact: {{ data.email }} <br>
            {% endfor %}
        {% endif %}
        {% if errors %}
            {% for key, val in errors.items() %}
                {{ key }} {{ val }}
            {% endfor %}
        {% endif %}
        </p>
    </body>
</html>