<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        {{csrf_token }}
        Username: <input type="text" name="username" required="true"><br>
        Password: <input type="text" name="password" required="true"><br>
        mail: <input type="text" name="mail" required="true"><br>
        description: <input type="text" name="description" required="false"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>