<!DOCTYPE html>
<html>
    <head>
        <title>Person</title>
    </head>

    <body>
        <h1>{{ person.first_name }} {{ person.last_name }}</h1>
        <p> {{ person.descr }}</p>
        <img src="static/img_picsou.png" alt="Picsou" width="200" height="250">
        <h2>Mon experience</h2>
        {%for exp in person.experiences%}
            <p>{{ exp["time"] }}</p>
            <p>&emsp;{{ exp["descr"] }}</p>
            
        {%endfor%}
        <h2>Mes competences</h2>
        <ul>
            {%for skill in person.skills%}
            <li>{{ skill }}</li>
            {%endfor%}
        </ul>
        <h2>Ma formation</h2>
        <p>{{ person.training }}</p>
    </body>
</html>