<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>

    <body>
        <h1>Contact us !</h1>
        {% if errors %}
        <p>{{ errors }}</p>
        {% endif %}
        <form id="contact" method="post">
            <input type="text" name="first_name" placeholder="firstname" required>
            <input type="text" name="last_name" placeholder="lastname" required>
            <input type="text" name="email" placeholder="email" required>
            <input type="submit" value="Send">
        </form>
    </body>

</html>